<div class="pageWrapper">

    <div id="topSection">
        <div class="theJumboTron">
            <img src="/images/logo.png" alt="logo">
            <h2>Welcome to our Peruvian Kitchen</h2>
        </div>
    </div>

</div>
<div id="bottom-bar" style="font-family: fantasy">
    <h4>Contact information:</h4>
    <h4>Phone: 800-123-4567</h4>
    <h4>Location:</h4>
    <h4>1234 Solano Street
        Tampa, Fl 33614</h4>
</div>

{{!-- <nav id="bottom-bar" style="font-family: fantasy">
    <h4>Contact information</h4>
    <span>Phone: 800-123-4567</span>
    <h4>Location</h4>
    <span>1234 Solano Street </br>
        Tampa, Fl 33614</span>
</nav> --}}