
<div class="container-signup">
<div class="col-sm-6 col-sm-offset-3 hello" >

    <h1 style="color: white"><span class="fa fa-sign-in" ></span> Signup</h1>

    <!-- LOGIN FORM -->
    <form action="/signup" method="post">
        <div class="form-group">
            <label style="color: black">Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label style="color: black">Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg" style="background-color: red">Signup</button>
    </form>

    <hr>

    <p style="color: white">Already have an account? <a href="/login" style="color: red">Login</a></p>
    <p style="color: white"> Or go <a href="/" style="color: red">home</a>.</p>



</div>
<div class="signupImg"></div>
</div>

